.App {
  margin: auto;
}
.pokecard {
  border: 1px solid #ddd;
  border-radius: 1rem;
  background-color: lightgray;
  text-align: center;
  padding: 1rem;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.pokedexContainer {
  margin-bottom: 1rem;
  background-color: rgb(219, 223, 216);
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.pokegame {
  margin: auto;
}

#winner_badge{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 2rem;
    background-color: green;
    padding: 1rem;
    border: 1px solid green;
    border-radius: 1rem;
}